/* first box styles */
.first-box {
  top: 0;
  width: 100%; }
  .first-box .first-content {
    padding-left: 240px;
    padding-right: 240px; }
    .first-box .first-content .header {
      padding-top: 75px;
      float: left;
      display: -webkit-box; }
      .first-box .first-content .header h1 {
        margin-left: 10px;
        margin-top: 4px;
        font-size: 30px;
        font-weight: bold;
        color: #000; }
    .first-box .first-content .nav {
      padding-top: 70px;
      float: right; }
      .first-box .first-content .nav a {
        font-family: calibri;
        color: #000;
        font-weight: bold;
        font-size: 22px; }
    .first-box .first-content .line {
      list-style-type: none;
      display: -webkit-box; }
      .first-box .first-content .line .description {
        padding-top: 240px;
        margin-left: -170px;
        margin-right: 180px; }
        .first-box .first-content .line .description h1 {
          font-size: 32px;
          font-weight: bold;
          color: #000; }
        .first-box .first-content .line .description h2 {
          font-size: 25px; }
        .first-box .first-content .line .description p {
          font-size: 16px;
          opacity: 0.9;
          margin-top: 20px; }
        .first-box .first-content .line .description .icons img {
          display: inline;
          margin-right: 30px;
          margin-top: 30px; }
      .first-box .first-content .line .photo img {
        float: right;
        padding-top: 170px;
        padding-bottom: 100px; }
