/* project styles */
/* footer box styles*/
.footer {
  bottom: 0;
  width: 100%;
  background: #000 !important; }
  .footer h1, .footer h2 {
    text-align: center; }
  .footer h1 {
    color: #fcdb00; }
  .footer h2 {
    color: #898989;
    font-size: 24px; }
  .footer .container {
    padding-top: 95px;
    padding-bottom: 140px;
    padding-left: 240px;
    float: left; }
    .footer .container #stuffs {
      color: #fff !important; }
      .footer .container #stuffs ul li {
        list-style-type: none; }
        .footer .container #stuffs ul li a {
          color: #fff !important; }
  .footer .form-group {
    width: 582px;
    margin-top: 42px;
    margin-bottom: 78px;
    margin-left: 40px;
    float: left; }
    .footer .form-group input {
      height: 52px; }
  .footer button {
    float: right; }
  .footer #dn {
    color: #000; }

/* first box styles */
.first-box {
  top: 0;
  width: 100%; }
  .first-box .first-content {
    padding-left: 240px;
    padding-right: 240px; }
    .first-box .first-content .header {
      padding-top: 75px;
      float: left;
      display: -webkit-box; }
      .first-box .first-content .header h1 {
        margin-left: 10px;
        margin-top: 4px;
        font-size: 30px;
        font-weight: bold;
        color: #000; }
    .first-box .first-content .nav {
      padding-top: 70px;
      float: right; }
      .first-box .first-content .nav a {
        font-family: calibri;
        color: #000;
        font-weight: bold;
        font-size: 22px; }
    .first-box .first-content .line {
      list-style-type: none;
      display: -webkit-box; }
      .first-box .first-content .line .description {
        padding-top: 240px;
        margin-left: -170px;
        margin-right: 180px; }
        .first-box .first-content .line .description h1 {
          font-size: 32px;
          font-weight: bold;
          color: #000; }
        .first-box .first-content .line .description h2 {
          font-size: 25px; }
        .first-box .first-content .line .description p {
          font-size: 16px;
          opacity: 0.9;
          margin-top: 20px; }
        .first-box .first-content .line .description .icons img {
          display: inline;
          margin-right: 30px;
          margin-top: 30px; }
      .first-box .first-content .line .photo img {
        float: right;
        padding-top: 170px;
        padding-bottom: 100px; }

/* second box styles*/
.second-box {
  width: 100%;
  background: #FFF; }
  .second-box .second-content {
    padding-top: 120px;
    padding-bottom: 165px;
    padding-left: 240px;
    padding-right: 240px; }
    .second-box .second-content h1 {
      font-size: 28px;
      font-weight: bold;
      text-align: center; }
    .second-box .second-content h2 {
      font-size: 18px;
      opacity: 0.9;
      padding-left: 90px;
      padding-right: 90px;
      padding-bottom: 100px;
      margin-top: 10px;
      text-align: center; }
    .second-box .second-content h4 {
      font-weight: bold;
      font-size: 20px; }
    .second-box .second-content p {
      font-size: 15px;
      opacity: 0.7; }
    .second-box .second-content .media-body {
      padding-left: 26px; }
    .second-box .second-content .first-row {
      padding-bottom: 85px; }

body {
  background: #fcdb00 !important; }
  body h1, body h2, body p, body h4 {
    font-family: calibri; }
